/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/** ..................................................... **/
/** ..................................................... **/
/** ........... Bootstrap Modded ................ **/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-default {
    background: #FFFFFF;
    color: #000000;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #D8DBD9;
}

.btn-default:active, .btn-default.active {
    background: #FFFFFF;
    box-shadow: none;
}

/** ..................................................... **/

.btn.sharp {
    border-radius:0;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

/** ..................................................... **/

.btn-default.outline {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    background: #FFFFFF;
    color: #000000;
    border-color: #FFFFFF;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: none;
}

/** ..................................................... **/


.btn-black {
    background: #000000;
    color: #FFFFFF;
}

.btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active, .open > .dropdown-toggle.btn-black {
    background: #303030;
}

.btn-black:active, .btn-black.active {
    background: #000000;
    box-shadow: none;
}

.btn-black.outline {
    border: 2px solid #000000;
    color: #000000;
}

.btn-black.outline:hover, .btn-black.outline:focus, .btn-black.outline:active, .btn-black.outline.active, .open > .dropdown-toggle.btn-black {
    background: #000000;
    color: #FFFFFF;
    border-color: #000000;
}
.btn-black.outline:active, .btn-black.outline.active {
    border-color: #000000;
    color: #000000;
    box-shadow: none;
}

/** ..................................................... **/
/** ..................................................... **/

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/** ..................................................... **/
/** ..................................................... **/

.navbar.transparent {
    padding: 50px 60px;
    background-color: rgba(255, 255, 255, 0.02);
    border-bottom-color: transparent;
    transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
    /**padding-left: 30px;**/
    font-size: 1.5em;
}
.navbar-default .navbar-brand:hover {
    color: white;
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav li a:focus,
.nav.navbar-nav li a:active,
.nav.navbar-nav li a:hover {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-default .navbar-nav>.active> a {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.navbar-default .navbar-nav>.active> a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.5);
}

/** ..................................................... **/

.navbar.shrink {
    padding: 0 30px;
    border-bottom-color: #FF3049;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar.shrink .navbar-brand {
    color: black;
    font-weight: bold;
    /**padding-left: 30px;**/
    font-size: 1.5em;
}
.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar.shrink li a {
    color: black;
}

.navbar.shrink li a:focus,
.navbar.shrink li a:active,
.navbar.shrink li a:hover {
    color: rgba(255, 48, 73, 0.5);
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar.shrink .navbar-nav>.active> a {
    background-color: rgba(255, 255, 255, 0);
    color: #FF3049;
}

#portfolioDropdown {
    background-color: rgba(0, 0, 0, 0.5);
}

#portfolioDropdown a {
    color: #FFFFFF;
}

#portfolioDropdown a:hover {
    color: #FF3049;
    background-color: rgba(255, 255, 255, 0.6);
}

.caret:active, .caret:hover, .caret:focus {
    background-color: transparent;
}

/** ..................................................... **/
/** ..................................................... **/

#homeCarousel .carousel-indicators li{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: 0;
}

#homeCarousel .carousel-indicators .active {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
}

#homeCarousel .carousel-control.left, #homeCarousel .carousel-control.right {
    background-image: none !important;
    filter: none !important;
    font-size: 2px;
}

#homeCarousel .icon.icon-left, #homeCarousel .icon.icon-right {
    position: absolute;
    margin-top: 50vh;
    height: 14px;
    width: auto;
}

/** ..................................................... **/
/** ..................................................... **/

/** ..................................................... **/
/** .............. My Main CSS .................... **/
/** ..................................................... **/
body{
    margin: 0 !important;
    padding: 0 !important;
    color: #000000;
}

/** ..................................................... **/

/**#homeCarousel{
    height: 100vh;
}**/

#homeSlide1 {
    height: 100vh;
    background-color: #479BBF;
}

#homeSlide2 {
    height: 100vh;
    background-color: #FF3049;
}

#homeSlide3 {
    height: 100vh;
    background-color: #D9D054;
}

/** ..................................................... **/

#aboutMeSkillz{
    background-color: #FFFDDD;
}

#designer{
    background-color: #479BBF;
    padding: 40px;
}

#scientist{
    background-color: #FF3049;
    padding: 40px;
}

#developer{
    background-color: #D9D054;
    padding: 40px;
}

#skillz{
    padding: 40px;
}

/** ..................................................... **/

#portfolio{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgba(71, 155, 191, 1);
    /**background-color: rgb(255, 255, 255);**/
}

#portfolioText{
    padding-bottom: 4%;
    /**background-color: rgba(255, 255, 255, 0.8);**/
}

.portfolioThumbnail img {
    width: auto;
    margin-left: 0;
    padding: 0.1% 0.1%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.portfolioThumbnail img:hover {
    width: auto;
    margin-left: 0;

    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.995);
    -o-transform: scale(0.99);
    transform: scale(0.99);
}

/** ..................................................... **/


/**#photoGallery{
    height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #000000;
}

#photoGalleryText{
    color: #FFFFFF;
    padding-bottom: 4%;
    /**padding: 1%;
    background-color: rgba(255, 255, 255, 0.2);
}**/

/** This rule is read by Galleria to define the gallery height: **/

/**.galleria {
    padding: 0;
    margin-bottom: 0.5%;
    height: 60vh;
    background: #000
}

.content {
    color:#777;
    font:12px/1.4 "helvetica neue",arial,sans-serif;
    width:620px;
    margin:20px auto;
}

.cred {
    margin-top:20px;
    font-size:11px;
}**/

/** ..................................................... **/

/** ..................................................... **/

#contactForm {
    /**min-height: 62vh;**/
    background-color: #FF3049;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    font-size: larger;
    font-weight: 100;
}

#contactForm h2, #contactForm h3 {
    margin-bottom: 30px;
}

#contactForm p {
    margin-top: 10px;
    margin-bottom: 30px;
}

/** ..................................................... **/

#socialLinks {
    /**min-height: 16vh;**/
    /**background-color: palevioletred;**/
    background-color: #FFFDDD;
    padding: 2% 20%;

    /**width: 100vw;
    margin-left: auto;
    margin-right: auto;**/
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#socialLinks a {
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#socialLinks a img {
    max-width: 40px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#socialLinks a img:hover {
    opacity: 0.7;
    -webkit-transform: translate(0, -1em);
    -moz-transform: translate(0, -1em);
    -o-transform: translate(0, -1em);
    transform: translate(0, -1em);
}

/** ..................................................... **/

footer {
    width: 100vw;
    margin: 0 !important;
    padding: 50px !important;
    background: #2FC0FF;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
