body {
    background-color: #CADAE1;
    text-align: center;
}
#homeBg {
    width: 100%;
    margin-top: -50px;
}

#aboutMe {
    height: 100vh;
    width: 100vw;
    padding: 10% 0;
}

#aboutMeMain{
    padding-bottom: 20px;
}

#aboutMeInstagram{
    padding-top: 50px;
}

#aboutsocialicons {
    margin: 10% 0;
}

#featuredWorks{
    height: 100vh;
    width: 100vw;
    background: #27aae1;
}

/**#aboutMePict{
    display: block;
    margin: auto;
}**/