*{
    font-family: Lato;
    margin: 0;
}
body{
    background: #F4F4F4;
}
.row{
    display: flex;
}
.top{
    background: #0099ff;
    height: 0.5vh;
}
.home{
    background: #ffffff;
    height: 99.5vh;

}
.about{
    background: #0099ff;
    height: 100vh;
}
.works{
    border-color: #2b669a;
}
.one, .two, .three{
    height: inherit;
    border: dashed;
    border-color: #0099ff;
    flex-grow: 1;

}